<h1 class="signup">Sign up here:</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div class = "first_name">
    First Name: <%= f.text_field :first_name %>
  </div>
  <div class = "last_name">
    Last Name: <%= f.text_field :last_name %>
  </div>
  <div class = "email">
    Email: <%= f.text_field :email %>
  </div>
  <div class = "password">
    Password: <%= f.password_field :password %>
  </div>
  <div class = "password_confirmation">
    Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>
  <div class = "button">
    <%= f.submit "Submit" %>
  </div>

<% end %>