<% if product = Product.find_by(id: line_item.product_id) %>
<% line_item = LineItem.find product %>
<% total_price= product.price * line_item.quantity %>
<% @order_total += total_price %>
  <tr>
    <td>
      <%= image_tag product.image.tiny %>
    </td>
    <td>
      <h4><%= product.name %></h4>
      <br>
      <p><%= product.description %></p>
    </td>
    <td>
      <%= product.price %>
    </td>
    <td>
      <%= line_item.quantity %>
    </td>
    <td>
      <%= total_price %>
    </td>
  </tr>

<% end %>